@import "src/theme";

.size {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.checkbox {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;

  border: 2px solid $color-2;
  border-radius: 50%;

  user-select: none;
  cursor: pointer;

  input[type=checkbox]:checked + &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: 60%;

    background: $color-3;
    border-radius: 50%;
  }
}
