{
  "extends": [
    "react-app",
    "react-app/jest",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "linebreak-style": "off",
    "@typescript-eslint/no-explicit-any": 0,
    "eol-last": "error",
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": []
      }
    ],
    "import/no-internal-modules": [
      "error",
      {
        "allow": [
          "redux-persist/lib/storage",
          "redux-persist/integration/react",
          "react-icons/ai"
        ]
      }
    ],
    "import/no-useless-path-segments": "error",
    "import/no-commonjs": "error",
    "import/no-duplicates": "error",
    "import/newline-after-import": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object"
        ]
      }
    ]
  },
  "settings": {
    "import/internal-regex": "^@mt"
  },
  "plugins": [
    "import",
    "prettier",
    "react"
  ]
}
