@import '../../ui/Theme/theme';

.title {
  font-size: xx-large;
  margin-bottom: 1.5rem;
  @include themify {
    border-bottom: 1px solid $color-2;
  }
}

.width {
  width: fit-content;
}

.list {
  height: 70vh;
  overflow-x: auto;

  @media (max-width: 768px) {
    max-height: 60vh;
  }
}

.add {
  align-self: flex-end;
}
