@import '../../ui/Theme/theme';

.background {
  min-height: 100vh;

  @include themify {
    background-color: $color-0;
    color: $color-4;
  }
}

.children {
  padding: 1rem 3rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;

  padding: 1rem 0;

  @include themify {
    background: $color-0;
    border-bottom: 1px solid $color-5;
    box-shadow: 0 0 5px $color-5;
  }
}

.title {
  font-size: larger;
  font-weight: 300;

  transition: border 120ms linear;

  @include themify {
    border-color: $color-5;
  }

  &:hover {
    border-bottom: 1px solid;
  }
}

.switcher {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
